/* common */
body {
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: var(--Dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-des {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    /* display: flex; */
}

/* share */
.text-pri {
    color: #FD6E0A;
}

.btn-pri {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}

/* nav style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.nav-title {
    color: var(--Dark-01, #181818);
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: var(--Dark-02, #474747);
}

/* header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left ;
}

.baneer {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.baneer-content {
    max-width: 500px;
}

.baneer .profile-pic {
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}

.baneer-greeting {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

.baneer-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

.baneer-des {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-bottom: 20px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0px auto;

}

.main section {
    margin-top: 130px;
}

/* about section */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 130px;
}

.about-info-containe {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-title {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.info-description {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

/* skill styles */

#what-i-do {
    padding: 30px 346px;
}

.skill-box {
    display: flex;
    padding: 50px 230px;
    gap: 24px;
    /* width: 267px; */
    /* height: 377px; */
    /* flex-shrink: 0; */
}

.skill {
    padding: 30px;

    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

/* resume section */

.reumre-column-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-box {
    display: flex;
    gap: 71px;
    padding: 0px 25%;
}

.reumre-column-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-item-title {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-item-institute {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
    margin-top: 0px;
}

.resume-item-description {
    color: var(--Dark-03, #757575);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}

.Download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer style */

footer {
    display: flex;
    /* width: 1600px; */
    /* height: 780px; */
    /* flex-shrink: 0; */
    background: #FFF8F3;
    padding: 130px 230px;
    margin-top: 100px;
    gap: 100px;
}

.footer-column {
    width: 50%;
}

#sub{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    color: var(--White-Color, #FFF);
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px 19px 36px;
}

.contact input,
textarea {
    display: block;
    margin-bottom: 24px;
    padding: 18px 35px;
    color: var(--Dark-03, #757575);
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;

}
.wid{
    width: 100%;
}
#message-box{
    width: 461px;
height: 180px;
flex-shrink: 0;
}

.social-links{
    margin-right: 35px;
}
